*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

footer{
    position:fixed;
    width: 100%;
    bottom: 0;
    left:0;
    z-index:2;
    background-color: rgb(58, 58, 58);
    height: 70px;
    display: flex;
    align-items: center;
}

.box-left,.box-right{
    display: flex;
    width:50%;
    justify-content: space-around;
    align-items: center;
}

.left i,footer i{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 10px;
}
.icone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    margin:0 5px;
}

.icone div{
    color: white;
    font-size: 15px;
}
.left{
    display: flex;
    justify-content: flex-start;
    width: 50%
}

.right{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.icone .active{
    color: greenyellow;
}

.box-right .right div{
    display: flex;
    align-items: center;
    color:brown;
    background-color: rgb(95, 95, 95);
    height:70px;
    padding:0 10px
    

}

main{
    width: 100%;
    height: 100%;
    background-color: black;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    padding: 0px 0px 70px 0px;
    width: 90%;
    margin:auto;
}

.foto{
    background-image: url(https://picsum.photos/246/146);
    background-size: cover;
    height:100px;
    width: calc(100% / 8);
    margin:15px 5px;
    z-index: 2;
    position: relative;
}

.name{
    background-color: rgba(185, 179, 179,.5);
    position: absolute;
    bottom: 0px;
    left:0px;
    padding: 5px 10px;
}

.name i,.name span{
    font-size: 15px;
    color: white;

}

.view-speaker{
    display: flex;
    justify-content: flex-end;
}

.view-speaker div{
    background-color: rgba(185, 179, 179,.5) ;
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
}

.view-speaker div:nth-child(2){
    margin-left:5px;
}





